{% extends 'base.html' %}

{% block title %}
<title>FreshFood</title>
{% endblock %}


{% block body %}
      <div class="jumbotron">
        <h1>FreshFood</h1>
        <p class="lead">Добро пожаловать в магазин вкусных продуктов!<br>-Широкий ассортимент, подобранный профессионалами. Теперь не нужно долго выбирать!<br>-Привезем быстро, бесплатно и бесконтактно.<br>-Только лучшее на Вашем столе по самой выгодной цене.</p>
        <p><a type="button" class="btn btn-warning" href="/products">Перейти к покупкам</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Проверенное качество</h4>
          <p>Все товары проходят обязательную сертификацию, подтверждающую их безопасность.</p>

          <h4>Комфортный сервис</h4>
          <p>Мы гарантируем своим клиентам не только исключительное качество продуктов и демократичные цены, но и обеспечиваем комфортный сервис для своих клиентов.</p>

          <h4>Широкий ассортимент</h4>
          <p>FreshFood – это широкий ассортимент свежих продуктов, напитков, свежей выпечки, бакалеи и сопутствующих товаров. Мы планируем постоянно добавлять новые позиции для того, чтобы делать покупки наших клиентов еще удобнее и безопаснее.

</p>
        </div>

        <div class="col-lg-6">
          <h4>Удобный заказ и оплата</h4>
          <p>Оформление заказа происходит в один клик. Оплату можно произвести наличными и картой при получении товара.</p>

          <h4>Быстрая доставка</h4>
          <p>Доставка осуществляется день в день в удобное для вас время либо ближайшую доступную дату, выбранную при оформлении заказа.</p>

          <h4>Свежесть продуктов</h4>
          <p>Мы заботимся о здоровье покупателей, поэтому тщательно следим за качеством поставщиков и свежестью продукции. Избегая долгого хранения, мы собираем заказ непосредственно перед выездом. Это позволяет привозить исключительно свежие продукты в ваш дом.</p>
        </div>
      </div>

      <footer class="footer">
        <p>© 2021 Company, Inc.</p>
      </footer>

{% endblock %}




