/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
.sidebar {
    height: 100%; /* 100% Полный рост */
    width: 0; /* 0 ширина - измените это с помощью JavaScript */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Оставайтесь на вершине */
    top: 0;
    left: 0;
    background-color: #111; /* Черный */
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    transition: 0.5s; /* 0.5 секунд эффект перехода для скольжения в боковой панели */
}

  /* На боковой панели */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
  /* При наведении курсора мыши на навигационные ссылки измените их цвет */
.sidebar a:hover {
    color: #f1f1f1;
}
  
  /* Положение и стиль кнопки закрытия (верхний правый угол) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
  /* Кнопка для открытия бокового бара */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color: #444;
}
  
  /* Стиль содержимого страницы - используйте это, если вы хотите переместить содержимое страницы вправо при открытии боковой навигации */
#main {
    transition: margin-left .5s; /* Если вы хотите эффект перехода */
    padding: 20px; 
}
  
  /* На небольших экранах, где высота меньше 450px, измените стиль sidebar (меньше отступов и меньший размер шрифта) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.container{
	max-width: 1180px;
	margin: 0px auto;
}

.header_sidebar{
    display: block;
}

.content {
	flex: 1 1 auto;
}

.header{
    padding: 35px 0;
    background-color: black;
}

.hi_row{
    background-color: black;
    display: flex;
    justify-content: center;
}

.hi_text{
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin: -70px 0;
}

.title{
    padding: 60px 0;
    background-color: black;
}

.title_row{
    padding: 0px 0px 0px 200px;
}

.title_text{
    color: white;
    font-size: 90px;
    font-weight: 600;
}

.what{
    padding: 120px 0;
    background-color: black;
}

.what_row{
    padding: 0px 0px 0px 200px;
}

.what_text p:first-child{
    color:white;
    font-size: 40px;
    font-weight: 400;
    margin: -70px 0 30px 0;
}

.what_text p:last-child{
    color:white;
    font-size: 15px;
    font-weight: 100;
    padding: 0px 470px 0px 0;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 30px;
}

.friends{
    padding: 200px 0;
    background-color: black;
}

.friends_row{
    padding: 0px 0px 0px 150px;
}

.friends_photo{
    display: flex;
}

.friends_photo_1{
    padding: 0px 10px 0px 5px;
    margin: -270px 0 0 0;
}


.what2{
    padding: 120px 0;
    background-color: black;
}

.what_row2{
    padding: 0px 0px 0px 200px;
}

.what_text2 p:first-child{
    color:white;
    font-size: 40px;
    font-weight: 400;
    margin: -230px 0 30px 0;
}

.what_text2 p:last-child{
    color:white;
    font-size: 15px;
    font-weight: 100;
    padding: 0px 470px 0px 0;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 30px;
}

.friends2{
    padding: 200px 0;
    background-color: black;
}

.friends_row2{
    padding: 0px 0px 0px 150px;
}

.friends_photo2{
    display: flex;
}

.friends_photo_2{
    padding: 0px 10px 0px 5px;
    margin: -270px 0 0 0;
}


.what3{
    padding: 200px 0;
    background-color: black;
}

.what_row3{
    padding: 0px 0px 0px 200px;
}

.what_text3 p:first-child{
    color:white;
    font-size: 40px;
    font-weight: 400;
    margin: -310px 0 30px 0;
}

.what_text3 p:last-child{
    color:white;
    font-size: 15px;
    font-weight: 100;
    padding: 0px 470px 0px 0;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 30px;
}

.friends3{
    padding: 200px 0;
    background-color: black;
}

.friends_row3{
    padding: 0px 0px 0px 150px;
    display: flex;
    margin: -230px 0 0 0 ;
}

.friends_photo3{
    display: flex;
}

.friends_photo_3{
    padding: 0px 10px 0px 5px;
    margin: -270px 0 0 0;
}

.friends_photo4{
    padding: 50px 0px 0px 150px;
    display: flex;
    margin: 0 -1065px;
}

.friends_photo_4{
    padding: 15px 10px 0px 5px;
}

.add{
    padding: 90px 0;
    background-color: black;
}

.add_row{
    padding: 0px 0px 0px 200px;
    margin: -220px 0 0 0;
}

.add_text a{
    color:white;
    font-size: 50px;
    font-weight: 500;
    
    
}