<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta charset="UTF-8">
    <title>THEL</title>
    {% load static%}

    {% load thel_tags %}
    {% get_list_categories as categories %}

    <link rel="stylesheet" href="{% static 'css/thel_society.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>		
</head>
<body>
    <div class="wraper">
        <div class="content">
            <div class="header">
                <div class="container">
                    <div class="header_sidebar">
                            <div id="mySidebar" class="sidebar">
                                 <a href="{% url 'main' %}">main</a>
                                <a href="{% url 'all_category' %}">all clothes</a>
                                {% for item in categories %}
                                <a href="{% url 'category' item.pk %}">{{ item.title }}</a>
                                {% endfor %}
                                <a href="{% url 'faq' %}">faq</a>
                                <a href="{% url 'thel_society' %}">about us</a>
                                <a href="{% url 'about_us' %}">thel.society</a>
                            </div>
                            <div id="main">
                                <button class="openbtn" onclick="openNav()">&#9776;</button>
                            </div>
                        </div>
                        <div class="hi_row">
                            <div class="hi_text">
                                THEL
                            </div>
                        </div>
                </div>
            </div>
            <div class="title">
                <div class="container">
                    <div class="title_row">
                        <div class="title_text">
                            thel. society
                        </div>
                    </div>
                </div>
            </div>
            <div class="what">
                <div class="container">
                    <div class="what_row">
                        <div class="what_text">
                            <p>— Что это?</p>
                            <p>Наша миссия — сформировать сообщество молодых целеустремленных людей, разделяющий ценности THEL STUDIOS. Мы создали <b>закрытое общество </b>thel.society, участники которого становятся лучшими друзьями бренда и имеют массу привилегий.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends">
                <div class="container">
                    <div class="friends_row">
                        <div class="friends_photo">
                            <div class="friends_photo_1">
                                <img src="{% static 'img/8.jpg' %}" height="320px" width="290px" alt="">
                            </div>
                            <div class="friends_photo_1">
                                <img src="{% static 'img/6.jpg' %}" height="320px" width="290px" alt="">
                            </div>
                            <div class="friends_photo_1">
                                <img src="{% static 'img/9.jpg' %}" height="320px" width="290px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="what2">
                <div class="container">
                    <div class="what_row2">
                        <div class="what_text2">
                            <p>— Какие именно привилегии доступны участникам?</p>
                            <p>Участники thel.society решают, что будет в новых коллекциях, получают эксклюзивный доступ ко всем дропам на 24 часа раньше, получают доступ на закрытые мероприятия и распродажи, имеют возможность лично общаться с создателями бренда.    
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends2">
                <div class="container">
                    <div class="friends_row2">
                        <div class="friends_photo2">
                            <div class="friends_photo_2">
                                <img src="{% static 'img/10.jpg' %}" height="420px" width="290px" alt="">
                            </div>
                            <div class="friends_photo_2">
                                <img src="{% static 'img/11.jpg' %} height="420px" width="290px" alt="">
                            </div>
                            <div class="friends_photo_2">
                                <img src="{% static 'img/12.jpg' %}" height="420px" width="290px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="what3">
                <div class="container">
                    <div class="what_row3">
                        <div class="what_text3">
                            <p>— Как попасть в сообщество?</p>
                            <p>Участником закрытого сообщества автоматически становится каждый покупатель THEL. Достаточно купить всего 1 вещь и вы уже часть комьюнити!    
                        </div>
                    </div>
                </div>
            </div>
            <div class="friends3">
                <div class="container">
                    <div class="friends_row3">
                        <div class="friends_photo3">
                            <div class="friends_photo_3">
                                <img src="{% static 'img/1.jpg' %}" height="320px" width="290px" alt="">
                            </div>
                            <div class="friends_photo_3">
                                <img src="{% static 'img/3.jpg' %}" height="320px" width="290px" alt="">
                            </div>
                            <div class="friends_photo_3">
                                <img src="{% static 'img/7.jpg' %}" height="320px" width="290px" alt="">
                            </div>
                        <div class="friends_photo4">    
                            <div class="friends_photo_4">
                                <img src="{% static 'img/5.jpg' %}" height="320px" width="290px" alt="">
                            </div>
                            <div class="friends_photo_4">
                                <img src="{% static 'img/6.jpg' %}" height="320px" width="290px" alt="">
                            </div>
                            <div class="friends_photo_4">
                                <img src="{% static 'img/9.jpg' %}" height="320px" width="290px" alt="">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add">
                <div class="container">
                    <div class="add_row">
                        <div class="add_text">
                            <a href="#">
                                Стать частью thel. society
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




